{% extends "users/base.html" %}

{% block head_content %}
<title>Platzigram Login</title>
{% endblock %}

{% block container %}
    {% if form.errors %}
        <p class="alert alert-danger">Your username and password didn't match</p>
    {% endif %}

    <form method="post" action="{% url 'users:login' %}">
        {% csrf_token %}

        <div class="form-group">
            <input class="form-control" name="username" placeholder="Username" type="text" required="true">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" required="true">
        </div>

        <button class="btn btn-primary btn-block mt-4" type="submit">
            Sign in!
        </button>

        <p class="mt-4">Don't have an account yet? <a href="{% url 'users:signup' %}">Sign up here.</a> </p>

    </form>

{% endblock %}